{% extends 'base.html' %}




{% block title %}Edit Movies{% endblock %}

{% block content %}
<div class="content">
  <h1 class="heading">{{movie.title}}</h1>
    <p class="description">Edit Movie Rating</p>


    <form action ="{{url_for('edit',id=movie.id)}}" method="POST">

        <label for="review">Movie Review</label>
        <input type="text" id="review" name="review" >
        <label for="ranking">Movie Ranking</label>
        <input type="number" id="ranking" name="ranking" step="1" >
        <button type="submit" class="btn btn-primary">Submit</button>
        
    </form>
  </div>
{% endblock %}