<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='output.css')}}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/754d4aae16.js" crossorigin="anonymous"></script>
    <title>about</title>
    <header class="max-w-full min-h-[70vh] text-white bg-[url('image/about.avif')] bg-center bg-cover py-8 px-4  md:px-20 lg:py-12 lg:px-28 ">
        {% include "header.html" %}
        <h2 class="text-5xl flex justify-center uppercase tracking-wider items-center mt-32 shadow-sm px-24 font-bold text-center">About Me</h2>
        </header>
    <div class= " text-center py-4 lg:mx-72 md:mx-28 mx-12">
        <h3 class="text-2xl py-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet tellus dignissim, ultricies sem vel, lacinia turpis. Nunc suscipit eu neque ut varius. Praesent molestie sit amet lacus maximus blandit. Proin eget accumsan turpis. Nullam laoreet purus ligula, blandit congue massa finibus in. Etiam sagittis diam urna, bibendum cursus diam mollis non. Aenean blandit mauris odio, sed rutrum nulla convallis et. </h3>
        <p>
            Duis interdum id mi feugiat elementum. Morbi iaculis erat vitae lacus pellentesque pellentesque. Etiam ut augue sed tortor interdum luctus. Nullam rhoncus ullamcorper ante, in tristique justo pretium eu. Vestibulum nec elit risus. Sed sed vulputate est. Fusce iaculis ligula eu mi ultricies, ac ultrices tellus eleifend. Sed accumsan egestas orci facilisis facilisis. Curabitur volutpat nulla a ipsum malesuada, sit amet consequat mauris lacinia. Donec ac turpis pretium, sollicitudin magna sit amet, elementum elit. Integer bibendum venenatis sem non tincidunt. Sed in ipsum maximus, eleifend neque eu, aliquet ex.

            In ac diam eu metus molestie blandit. Phasellus non sodales dui. Phasellus fermentum nibh eu sollicitudin venenatis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque quis sapien non erat luctus feugiat. Nam cursus, nunc vel fringilla suscipit, massa nisi mattis tellus, vitae blandit lectus nulla sed nunc. Nulla facilisi. Nunc at ligula id diam venenatis maximus. Etiam molestie aliquam purus, sit amet ullamcorper dolor pulvinar vel. Mauris et felis nulla. Ut tincidunt justo nec gravida auctor. Nulla quis arcu suscipit, tincidunt metus eget, egestas purus. Morbi id augue lorem. Curabitur et maximus augue. 
        </p>
    </div>
        
    
    <script src="/static/index.js"></script>
    </body>
    </html>
</head>
<body>