<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='output.css')}}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/754d4aae16.js" crossorigin="anonymous"></script>
    <title>About</title>
    <header class="max-w-full min-h-[80vh] text-white bg-[url('image/bg.jpg')] bg-center bg-cover py-8 px-4  md:px-20 lg:py-12 lg:px-28 ">
        {% include "header.html" %}
        </header>
        
    
    <script src="/static/index.js"></script>
    </body>
    </html>
</head>
<body>