@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.open{
    @apply block lg:hidden;
}
.hide{
    @apply hidden lg:block;
}
